.checkbox {
  margin: 1vh;
}

.graph {
  margin: 1vh;
  position: sticky;   /*グラフを画面下部（bottom: 0;）に固定*/
  bottom: 0;
}

.checkbox h3 {
  position: sticky;   /*チェックボックス上部のh3要素「都道府県」をヘッダーの下（top: 10vh;）に固定*/
  top: 10vh;
}

h3 {
  background-color: white;
  margin: 0;
  padding: 1vh 0;
}